---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');

@import url('text.css');
@import url('figures.css');

.bounder {
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 5px 0 5px 0;
	margin: 10px 0 10px 0;
	border-width: 1px;
	overflow: auto;
	display: inline-block;
}

.logo {
	float: left;
	margin: 0 10px 0 10px;
	vertical-align: middle;
}

.bounder-text {
	overflow:hidden;
	padding: 0 10px 10px 0;
}

.new_papers {
	padding-top: 10px;
}
.new_papers p:hover{

  background:#cccccc
}

.news {
	padding: 10px;
	background: rgba(230, 230, 230, 0.8);
	border-style: solid;
	border-color:#080808;
	border-radius: 5px;
}

.part-name {
	font-size: 1.2rem;
	color: rgba(72,202,59, 0.9);
}

.floating-box {
    width: 100%;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid; 
    overflow: hidden;
    position: relative;
}

.floating-box:hover{
  background:#cccccc;
}

.bio {
	float: left;
    top: 0;
    bottom: 0;
    height: 100%;
    padding-left: 1%;
    padding-right: 5px;
    max-width: 78%;
    font-size: 0.8em;
    margins: auto;
    vertical-align: middle;
}

.photo {
	float: right;
	height: 100%;
	width: 18%;
	padding-right: 10px;
}
